.blue{width: 50px;
       height:50px;
       border: 5px blue solid;
        border-radius: 50px;}
.blue::after{content: '';
              width: 50px;
              height:50px;
              border: 5px blue solid;
              border-radius: 50px;
              position:absolute;
              left: 0;
              top: 0;
              z-index: 1;
              border-bottom-color: transparent;
}
.black{width: 50px;
    height:50px;
    border: 5px black solid;
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 5px;}
.black::after{content: '';
    width: 50px;
    height:50px;
    border: 5px black solid;
    border-radius: 50px;
    position:absolute;
    left: 65px;
    top: 0;

    z-index: 1;
    border-left-color: transparent;
}
.red{width: 50px;
    height:50px;
    border: 5px red solid;
    border-radius: 50px;
    }
.red::after{content: '';
    width: 50px;
    height:50px;
    border: 5px red solid;
    border-radius: 50px;
    position:absolute;
    left: 130px;
    top: 0;
    z-index: 1;
    border-left-color: transparent;
}
.yellow{width: 50px;
    height:50px;
    border: 5px yellow solid;
    border-radius: 50px;
    margin-right: 5px;}
.yellow::after{content: '';
    width: 50px;
    height:50px;
    border: 5px yellow solid;
    border-radius: 50px;
    position:absolute;
    left:0;
    top: 0;

}
.green{width: 50px;
    height:50px;
    border: 5px green solid;
    border-radius: 50px;
    /**/
}
.green::after{content: '';
    width: 50px;
    height:50px;
    border: 5px green solid;
    border-radius: 50px;
    position:absolute;
    left: 65px;
    top: 0;
    z-index: 1;
    border-top-color: transparent;
    border-right-color: transparent;
}
body{perspective: 800px;}
.box{position: relative;
    /*top:200px;*/
    margin: 200px auto;
    width: 200px;
    height: 150px;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: run 2s linear infinite ;
    }
@keyframes run {
    0% {
    }
    100% {
        -webkit-transform: rotateY(360deg);
    }
}
.top-div div{float: left;}
.bottom-div div{float: left;}
.bottom-div{position: absolute;left: 33px;top:25px;}
