*{
    margin: 0px;padding: 0px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 1230px;margin: 0 auto;
}
/*从这开始*/
.nav{
    height: 33px;background:#f2f2f2;border-bottom: 1px solid #e5e5e5;
}
.nav-box,.nav-menu{
    height: 30px;
    line-height: 32px;
    color: #999;
}
.nav-login{float:left;}
.nav-login a{padding: 0 10px 0 10px;color: #999;}
.nav-login a:hover{color: #FF0036;}
.nav-login,login-btn{padding-left:20px;}
.nav-login a,.nav-login span{float: left;}
.nav-menu{float:right;}
.nav-menu>li{float:left;}
.nav-link{color:#999999;display: block;padding: 0 14px 0 10px;}
.sn-menu{position:relative;}
.sn-menu:hover{background: #fff;}
.sn-menur a:hover{color:#FF0036;text-decoration:underline;}
.sn-menu:hover::after{transform:rotate(180deg);top: 13px;}
.sn-menu::after{content: "";width:0;height: 0;border-width: 3px;border-style:solid;
                  border-color:#999 transparent transparent transparent;position: absolute;right: 6px;top: 16px;
                  transition:all 0.1s linear; }

.menu-list li{float: left;height: 36px;line-height: 36px}
.menu-list{margin-left: 200px;}
.under search{margin-left:100px;}

.slide-box{postion:relative;}
.slide-item{postion:absolute;left: 0px;top:0px;width: 100%;}
.slide-item1{background:#fee9ec;}
.slide-item2{background:#aa632c;}
.slide-item-link{width:1230px;display:block;margin:0 auto;}
.slide-item-link img{width:1230px;heigh:500px;}



